br {
	height: 0;
	display: none;
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	font: 15px Arial;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

form {
	max-width: 1000px;
	width: 600px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 10px;
	min-height: 200px;
	margin: 50px auto;
	padding: 50px;
	color: #fff;
	font-family: Quicksand;
}

.result_table {
	background-color: rgba(0,0,0,0.7);
	border-radius: 10px;
	min-height: 200px;
	margin: 50px auto;
	padding: 50px;
	color: #fff;
	font-family: Quicksand;
}

label {
	color: #fff;
	margin: 10px auto!important;
	padding-right: 30px;
	display: inline-block;
	font: 15px Quicksand;
	width: auto;
	min-width: 150px;
}

input {
	width: 250px;
	margin: 8px auto!important;
	display: inline-block;
	background-color: transparent;
	border: 0;
	border-bottom: solid 1px #fff;
	color: #fff;
}

.submit {
	width: 50%;
	display: block!important;
	padding: 14px 20px;
	background-color: #c6232f;
	border: 0;
	border-radius: 30px;
	margin: 50px auto 10px!important;
	color: #fff!important;
	font: 17px Quicksand;
}

select {
	width: 60%;
	background-color: transparent;
	border: 0;
	border-bottom: solid 1px #fff;
	color: #fff;
	padding: 10px;
	margin: 8px auto!important;
}

option {
	color: #000!important;
}

.radio {
	width: auto;
	padding: 10px;
}

.radio_label {
	width: 30%;
	padding: 13px;
}

.exam {
	width: 30%;
}

.view {
	margin: 50px auto;
	display: block;
}

.backlog_form {
	margin: 100px auto;
	font: 17px Arial;
	line-height: 2em!important;
}

table {
	border-collapse: collapse!important;
}

.table td {
	border: solid 1px #000;
	padding: 7px 15px;
}

h1 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
}

p {
	line-height: 1.7em;
	margin: 10px auto;
}

b {
	font-weight: 600;
}

td {
	padding: 0 10px 0 10px;
	max-height: 11px;
}

.edit_rep_td {
	width: 15px;
	border: none!important;
	/*padding-left: 10px!important;*/
}

.rep_td {
	min-width: 300px;
	height: 0px!important;
	margin: 0!important;
}

.indiv_rep {
	width: 70px!important;
	border: none!important;
	padding: 0!important;
	margin: 0!important;
}

td input {
	border: none;
}

.edit_marks {
	border-bottom: solid 1px #fff;
}

#save {
	width: 60px;
}

.edit {
	background: transparent!important;
	border: none;
	color: #fff;
	width: 60px;
}
