* {
	color: #000;
	font: 15px Quicksand;
}

.info {
	display: inline-block;
	font-size: 15px;
	padding: 10px 10px;
	background-color: #f6f3f3;
	border: solid 1px #000;
}

.fr_action_form {
	max-width: 100%;
    padding: 20px 40px 40px;
    margin: 50px auto;
    background-color: #fff;
    max-width: 1200px;
	width: 100%;
}

.marks_table {
	border: solid 1px #000;
	margin: 0 auto!important;
}

.header {
	background-color: #ccc!important;
	width: 100%;
}

.header td {
	text-align: center;
	border-bottom: solid 1px #ccc;
	padding: 10px 15px;
	margin: 7px;
	display: inline-flex;
	font-size: 16px;
}

tr {
	display: inline-table;
	border-bottom: solid 1px #6a6666!important;
}

.marks_table tr:last-of-type {
	border-bottom: 0!important;
}

.supplies {
	margin: 4px 20px;
    display: inline-block!important;
}

.reg, .obt_marks, .max_marks {
	width: 176px;
	height: 40px;
	margin: 3px 5px;
	padding-left: 5px;
}

#7, #8, #9, #10, #11, #12 {
	float: right;
}

.supplies_check {
	margin-left: 8px!important;
}