* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

:root {
	--sea_green: #009b72;
	--green: #046865;
}

.clear:before,
.clear:after {
	display: table;
	content: "";
	clear: both;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.logo {
	float: left;
	width: 20%;
	padding: 20px 0;
}

.logo h2 {
	font: 30px Nunito;
	color: #fff;
	font-weight: bold;
}

.header-wrapper {
	position: absolute;
	width: 100%;
}

.menu-bar-wrapper {
	float: right;
	width: 60%;
}

.menu-bar {
	float: right;
}

.menu-bar-wrapper li {
	display: inline-block;
	padding: 30px 20px;
}

.menu-bar li a {
	font: 20px Nunito;
	color: rgba(255,255,255,.65);
	font-weight: bold;
}

.menu-bar li a:hover {
	color: #fff;
}

.button a {
	background-color: #009b72;
	padding: 12px 30px;
	border-radius: 50px;
	color: #fff!important;
}

.bg-wrapper {
	background: linear-gradient(to right,#009b72,#046865);
	height: 700px;
	padding-top: 150px;
}

.text-wrapper {
	float: left;
	width: 38%;
}

.text-wrapper h1 {
	font: 80px Nunito;
	font-weight: bold;
	line-height: 1.1;
	color: #fff;
}

.text-wrapper p {
	font: 23px Nunito;
	color: #fff;
	padding: 45px 0;
}

.form-wrapper {
	float: right;
	width: 45%;
}

.button-div {
	background-color: #fff;
	width: 250px;
	margin-bottom: 10px;
	padding: 14px 25px;
	font: 20px Nunito;
	font-weight: bold;
	border-radius: 6px;
	text-align: center;
}

.button-div i {
	padding-right: 15px;
	font-size: 25px;
	color: var(--green);
}

.demo_form {
	background-color: #fff;
	font: 20px Nunito;
	margin: 20px auto;
	padding: 30px;
}

input, select, label {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 11px 10px;
	font-size: 16px;
}

.inp-div {
	margin: 20px auto;
}